{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>PLOPS</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "plops_app/index.css" %}">
    <script src="{% static "plops_app/index.js" %}"></script>
    <script src="{% static "plops_app/findparking.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmNdArjF7FIWi77hBu3AGvkuXOqLE9rLo&callback=initMap"
    async defer></script>
  </body>
</html>